html, body {
  font-family: arial;
  width: 100%;
}

#chartarea {
  width: 100%;
  height: 400px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.c3-axis-x text {
  opacity: 0;
}

#chart div {
  color: #f00;
}

.c3-shapes {
  fill: #eef;
}
